@import "variables";
.accordion {
  margin: 50px auto;
  font-weight: 400;
  text-align: center;
  font-family: $font;
  .accordion__button {
    background: $main-color;
    color: white;
    cursor: pointer;
    border: 0px;
    padding: 20px;
    width: $width-block;
    text-align: left;
    font-size: 18px;
    transition: all 0.4s ease;
    &:focus {
      outline: none;
    }
    &.active,
    &:hover {
      background: $hover-color;
    }
  }
  .accordion__content {
    padding: 0 20px;
    color: black;
    max-height: 0;
    overflow: hidden;
    width: $width-block;
    margin: 0 auto;
    transition: max-height 0.2s ease-out;
  }
}
