@import "variables";
.alert {
  padding: 20px;
  background-color: $hoverColor;
  color: white;
  margin: 10px;
  width: $widthBlock;
  .alert__close {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
  }
}
