$main-color: #ed827c;
$hover-color: #ce6d68;
$border-radius: 3px;
$font: "Open Sans", sans-serif;
$font-size: 16px;
$width-block: 80%;
$blackout: #41404080;
$shadow: #00000044;
$lighter-main: #eccdcba1;
